{% extends 'layout.html' %}
{% load static %}


    <title>{% block title %}Home{% endblock %}</title>
 
    
    {% block content %}
       
    <div class="row pt-5" id ="first_section_row">
        <div class="container" id="site_container">
             <!-- <div class = "col-md-8"> -->
            <div class="container" id="vision">
            <div class ="container" id="vision_text">
                <h1 class="value_prop">Solve your research problems faster</h1>
                <p class="vision_blurb">Connect with a researcher who has the expertise you need.<br>Sign up for Scipertise and do better research, faster.</p>
                <p class="advice_blurb">Get insights on: <br> experimental models  |  software  |  lab techniques  |  equipment  |   data analysis</p>
            </div>
            
         <!--   </div> -->
            
        </div>
      <!--  <div class= "col-md-4" id="form"> -->
           <div class="container" id="form">
            <form class="home_form" action="" method="POST">
                <h4 class="form_title">Request beta access</h4>
                <p class="form_text" label="First Name">First Name:</p>
                 {{ form.first_name }}
                <p class="form_text" label="Last Name">Last Name:</p>
                 {{ form.last_name }}
                <p class="form_text" label="Email">Email:</p>
                 {{ form.email  }}
                {% csrf_token %}
                 <br>
                <input type="submit" class="button" value="Sign Up">
               </form>
            
            </div>
        
        </div>
      
           <!-- </div>    -->  
        
        </div> 

       
        {% endblock %}

 <!--   <script>
    $('#subscribe').submit(function(e){
      e.preventDefault();
      var email = $("#email").val();
      if(email){
        var csrfmiddlewaretoken = csrftoken;
        var email_data = {"email": email, 
                          "csrfmiddlewaretoken" : csrfmiddlewaretoken};
        $.ajax({
          type : 'POST',
          url :  '/subscribe/',
          data : email_data,
          success : function(response){
            $('#email_id').val(''); 
            if(response.status == "404"){
              alert("This Email is already been subscribed!");
            }
            else{
              alert("Thank you for Subscribing! Please Check your Email to Confirm the Subscription");
            }
          },
          error: function(response) {
            alert("Sorry Something went Wrong");
            $('#email').val(''); 
          }
        });
        return false;
      }
      else{
        alert("Please provide correct email!");
      }
  });
 

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
})
    
    </script> -->
